.featured{
    padding-block: 0.6rem;
    padding-bottom: 2rem;
    border-bottom: 3px solid black;

    .news-content{
        display: grid;
        grid-template-columns: 1fr 1.2fr;
        gap: 50px;
        padding-top: 2rem;
        >*{
            // outline: 1px solid blue;
        }
        .left{
            display: flex;
            flex-direction: column;
            gap: 8px;
            img{
                width: 100%;
                height: 15rem;
            }
            .featured__date{
                font-size: 0.8rem;
                color: #645757;
            }

            a{
                font-size: 1.1rem;
                text-align:left;
                color: inherit;
                text-decoration: none;
                font-weight: 500;
                line-height: 1.2rem;

                &:hover{
                    text-decoration: underline;
                }
            }
            .featured__desc{
                font-size: 0.9rem;
                color: #645757;
                line-height: 1rem;
            }
        }
        .right{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            >*{
                // border: 1px solid red;
            }
        }
    }
}