.login{
    background-color: #7109f0;
    height: 100vh;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .form{
        width: 350px;
        height: 530px;
        background-color: white;
        border-radius: 18px;
        overflow: hidden;
        .img{
            height: 30%;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                // border-radius: 13px;
            }
        }
        h2{
            text-align: center;
            margin-block: 8px;
            color: #7109f0 ;
        }
        p{
            font-size: 0.8rem;
            text-align: center;
        }


        .input_container{
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            label{
                width: 100%;



                padding-inline: 25px;
                input{
                    // box-sizing: border-box;
                    width: calc(100%);
                    height: 2.5rem;
                    padding-inline: 0.6rem;
                    padding-block: 0.4rem;
                    font-size: 1rem;
                    outline: none;
                    border-radius: 6px;
                    border: 1px solid black;
                }
            }
        }

        .utility_link{
            display: flex;
            padding-inline: 25px;
            justify-content: space-between;
            margin: 10px 0;

            p{
                color: #7109f0;
                a{
                    text-decoration: none;
                    color: inherit;
                }
            }
        }

        .signin{
            padding-inline: 25px;
            button{
                width: 100%;
                height: 2.5rem;
                background-color: #7109f0;
                border: none;
                outline: none;
                color: white;
                border-radius: 6px;
            }
            // border: 1px solid red;
        }

        .third__party{
            padding-inline: 25px;
            margin-top: 20px;
            // border: 1px solid red;
            display: flex;
            flex-direction: column;
            gap: 11px;

            div{
                // margin-block: 10px;
                height: 2.5rem;
                border: 1px solid black;
                display: flex;
                padding-inline: 12px;
                border-radius: 5px;
                
                align-items: center;
                justify-content: space-between;
                // align-items: center;

                svg{
                    font-size: 1.8rem;
                }

                span{
                    flex: 1;
                    padding-inline: 8px;
                    display: flex;
                    align-items: center;
                }
            }
        }

    }
}