.navbar{
    height: 6rem;
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 2.8px solid black;
    >*{
        // outline: 1px solid blue;
    }
    .logo{
        width: 4rem;
        height: 130%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .menu{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .menu__right{
            display: flex;
            align-items: center;
            gap: 22px;

            a{
                text-decoration: none;
                color: #645757;
            }
        }

        .menu__left{
            display: flex;
            align-items: center;
            gap: 15px;

            >svg{
                color: #645757;
                font-size: 1.2rem;
                cursor: pointer;
            }

            .user__profile{
                display: flex;
                align-items: center;

                svg{
                    font-size: 1.2rem;
                    cursor: pointer;
                }
            }
        }
    }
    .user_detail{
        width: max-content;
        display: flex;
        align-items: center;
        gap: 10px;

        button{
            font-size: 1rem;
            padding: 5px 10px;
            border-radius: 5px;
            border: none;
            background-color: #4f4ffc;
            color: white;
        }
    }
}